.projectcon {
    font-size: 17px;
}

@media only screen and (max-width: 600px) {
    .projectcon {
        font-size: 13px;
    }
    .rootComponent {
        height: 90vh;
        overflow-y: scroll;
        padding: 15px;
    }
} 

