.App {
  text-align: center;
}

.homepageComponent {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-55%, -50%);
  color: #ffffff;
  width: '40%',
}

@media only screen and (max-width: 600px) {
  .homepageComponent {
    width: 90%;
  }
}